:root {
  --main-bg-color: #13141a;
  --nav-bg-color: linear-gradient(to right, #181828a8, #181828);
  --button-bg-color: rgb(212, 186, 37);
  --button-hover-bg-color: rgb(231, 212, 105);
  --container-bg-color: #2e2f35;
  --container-title-bg-color: #1b1b1d;
  --container-item-bg-title: #44454d;
  --container-item-bg-content: #53545c;
  --v-theme-error: 209, 50, 50 !important;
  --primary-100: #f2eabb;
  --primary-200: #ebdf9a;
  --primary-300: #e2d16c;
  --primary-400: #ddc850;
  --primary-500: #d4ba24;
  --primary-600: #c1a921;
  --primary-700: #97841a;
  --primary-800: #756614;
  --error-100: #f9cccc;
  --error-200: #f6b4b4;
  --error-300: #f29191;
  --error-400: #ef7c7c;
  --error-500: #eb5b5b;
  --error-600: #d65353;
  --error-700: #a74141;
  --error-800: #813232;
}

.v-theme--light {
  --v-theme-error: 209, 50, 50 !important;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins.ttf');
}

.body {
  background-color: var(--main-bg-color);
  color: white;
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased !important;
}

.v-skeleton-loader {
  border-radius: 0 !important;
  background: transparent !important;
}
