:root {
  --main-bg-color: #1b1b1b;
  --nav-bg-color: linear-gradient(to right, #1b1f1b, #242924);
  --button-bg-color: #79c89e;
  --button-hover-bg-color: #66b28b;
  --container-bg-color: #252627;
  --container-title-bg-color: #1e1e20;
  --container-item-bg-title: #3a3b42;
  --container-item-bg-content: #484950;

  --v-theme-error: 209, 50, 50 !important;
  --error-100: #f9cccc;
  --error-200: #f6b4b4;
  --error-300: #f29191;
  --error-400: #ef7c7c;
  --error-500: #eb5b5b;
  --error-600: #d65353;
  --error-700: #a74141;
  --error-800: #813232;

  --primary-100: #d8f3dc;
  --primary-200: #b7e4c7;
  --primary-300: #95d5b2;
  --primary-400: #74c69d;
  --primary-500: #52b788;
  --primary-600: #40916c;
  --primary-700: #2d6a4f;
  --primary-800: #1b4332;

  --text-main: #e0e0e0;
}

.v-theme--light {
  --v-theme-error: 209, 50, 50 !important;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins.ttf');
}

.body {
  background-color: var(--main-bg-color);
  color: white;
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased !important;
}

.v-skeleton-loader {
  border-radius: 0 !important;
  background: transparent !important;
}
