:root {
  --main-bg-color: #13141a;
  --nav-bg-color: linear-gradient(to right, #181828a8, #181828);
  --button-bg-color: rgb(212, 186, 37);
  --button-hover-bg-color: rgb(231, 212, 105);
  --container-bg-color: #2e2f35;
  --container-title-bg-color: #1b1b1d;
  --v-theme-error: 209, 50, 50 !important;
}

.v-theme--light {
  --v-theme-error: 209, 50, 50 !important;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins.ttf');
}

.body {
  background-color: var(--main-bg-color);
  color: white;
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased !important;
}
